doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    title Урок по Гальпу
    link(rel='stylesheet', href='css/main.css')

  body
    h1 Урок по Гальпу, eb bro!
    div
      img(src="img/111.png", width="444" alt="")
      h2 Учусь Гальпить, вроде получается.11111115555
      p Lorem ipsum dolor sit amet.
      img(src="img/333.png", alt="")
      .intro
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere dwadawdawdawdawdaliquam, ratione alias sed enim molestias impedit adipisci! Repellat.
      h2 Продолжаю обучение
    img(src="img/222.png", alt="")


    script(src='js/main.js')
